.header {
  height:20px;
  border: solid;
  display: flex;
  border-collapse: collapse;
  .drag {
    height:100%;
    border-right: solid 5;
  }
}
.headerContent{
  position:relative;
}

.draggable{
  position:absolute;
  top:0;
  right:0;
  width:5px;
  height:20px;
  &:hover{
    cursor:grabbing;
  }
}

.row{
  display:flex;
}